@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('../node_modules/boxicons/css/boxicons.min.css'); */

html {
	font-size: 62.5%;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('/src/fonts/SourceSansPro-Regular.woff2') format('woff2'),
		url('/src/fonts/SourceSansPro-Regular.woff') format('woff');
	font-weight: 400; /* Regular */
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('/src/fonts/SourceSansPro-Semibold.woff2') format('woff2'),
		url('/src/fonts/SourceSansPro-Semibold.woff') format('woff');
	font-weight: 600; /* SemiBold */
	font-style: normal;
}

@font-face {
	font-family: 'SourceSansPro';
	src: url('/src/fonts/SourceSansPro-Bold.woff2') format('woff2'),
		url('/src/fonts/SourceSansPro-Bold.woff') format('woff');
	font-weight: 700; /* Bold */
	font-style: normal;
}
